<!DOCTYPE html>
<html>
<head>
  <title>PES HOSTEL</title>
  <style>
    body {
      background-color: #f2f2f2;
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 20px;
    }
    h1 {
      color: #007BFF;
    }
    form {
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin: 20px auto;
      padding: 20px;
      width: 80%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      color: #333;
    }
    input[type="text"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    button[type="submit"] {
      background-color: #007BFF;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    button[type="submit"]:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
  <h1>Get Rooms By Status</h1>
  <form method="post" action="/status">
    <label for="check_block_id">Block ID:</label>
    <input type="text" id="check_block_id" name="check_block_id">
    <label for="check_status">Status:</label>
    <input type="text" id="check_status" name="check_status">
    <button type="submit">Get Rooms By Status</button>
  </form>
</body>
</html>
